@{
    ViewBag.Title = "Admin";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <title>DEMO - Administrative Actions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap_darkly.css" media="screen" title="darkly">
    <link rel="stylesheet" href="~/Content/bootstrap_sandstone.css" media="screen" title="sandstone" disabled="true">
    <link rel="stylesheet" href="~/Content/bootstrap_orange.css" media="screen" title="orange" disabled="true">
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <style>
        .minbtn {
            min-width: 150px;
        }

        .toast-near-top-full {
            top: 50px;
            left: 0;
            width: 100%;
            margin-left: 0;
        }
    </style>

</head>


<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">DEMOstration Adminstration</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li></li>
                    <li>
                        <a href="~/apps/Demo">Return</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                        <ul id="themeSelector" class="dropdown-menu" aria-labelledby="themes">
                            <li>Default</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sandstone</a></li>
                            <li><a href="#">Darkly</a></li>
                            <li><a href="#">Orange</a></li>
                            <li><a href="#">Not Set Up</a></li>

                            <li class="divider"></li>`
                            @*<li class="divider"></li>
                                <li class="divider"></li>
                                <li><a href="./cerulean/">Cerulean</a></li>
                                <li><a href="./cosmo/">Cosmo</a></li>
                                <li><a href="./cyborg/">Cyborg</a></li>

                                <li><a href="./flatly/">Flatly</a></li>
                                <li><a href="./journal/">Journal</a></li>
                                <li><a href="./lumen/">Lumen</a></li>
                                <li><a href="./paper/">Paper</a></li>
                                <li><a href="./readable/">Readable</a></li>
                                <li><a href="./slate/">Slate</a></li>
                                <li><a href="./spacelab/">Spacelab</a></li>
                                <li><a href="./superhero/">Superhero</a></li>

                                <li><a href="./yeti/">Yeti</a></li>*@
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Quote Database Administration Function</h1>
                    <p class="lead">work with the quote database</p>
                </div>
            </div>
        </div>

        <!-- Navbar
        ================================================== -->
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="DatabaseMaintenanceNavigation">Database Maintenance</h1>
                    </div>




                    <div class="bs-component">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Quotes</a>
                            </div>
                            <div id="QuoteOptionContainer" class="navbar-collapse collapse navbar-responsive-collapse">
                                <ul class="nav navbar-nav">
                                    <form class="navbar-form navbar-left">
                                        <input id="ListQuoteTableFilter" type="text" class="form-control col-lg-8" placeholder="optional filter">
                                    </form>
                                    <li id="ListQuoteTable"><a>List</a></li>
                                    <li id="ListQuoteUnapproved"><a>List Unapproved</a></li>
                                    <li id="DeleteDatabase" class="btn-danger minbtn "><a>Delete Database</a></li>
                                    <li id="RebuildDatabase" class="btn-success"><a>Rebuild DB</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <!-- Tables
        ================================================== -->
        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Quote List</h1>
                    </div>

                    <div class="bs-component">
                        <table class="table table-striped table-hover " id="QuoteListTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Author</th>
                                    <th>Approved</th>
                                    <th>Ups</th>
                                    <th>Downs</th>
                                    <th>Quote</th>
                                </tr>
                            </thead>
                            <tbody id="QuoteListBody"></tbody>
                        </table>
                    </div><!-- /example -->
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    @*<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootswatch.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script>

        var operationalParameters =
        {
            "quoteServerName": "@ViewBag.QuoteServerLocation",
            "timeout": "@ViewBag.timeOut",
            "managementServerName": "@ViewBag.QuoteServerLocation"
        }

        $(function () {

            $('#BasGet').click(function () {
                doBasicGet();
            });
            $('#searchQuotes').click(function () {
                BasPut();
            });
            $('#themeSelector li a').click(function () {
                var theword = $(this).text();
                changeTheme(theword);
            });
            $('#DeleteDatabase').click(function () {
                VerifyAndDeleteDatabase();
            })
            $('#RebuildDatabase').click(function () {
                RebuildDatabase();
            })
            $('#ListQuoteTable').click(function () {
                ListQuoteTable();
            });
            $('#ListQuoteUnapproved').click(function () {
                ListQuoteUnapproved();
            });

        });

        var AdminTitle = 'Quote Admin';

        function ListQuoteUnapproved() {
            toastr.info('Requesting Quote Data', AdminTitle);
            var filter = ListQuoteTableFilter.value;
            $.ajax({
                url: operationalParameters.managementServerName + 'managequotes\\unapprovd',
                type: 'GET',
                data: 'filter=' + filter,
                success: function (results) { ListQuoteTableExpandTable(results) },
                error: function (XMLHttpRequest, textStatus, errorThrown) { toastr.error("Error accessing database  " + errorThrown); }
            });

        }

        function ListQuoteTable() {
            toastr.info('Requesting Quote Data', AdminTitle);
            var filter = ListQuoteTableFilter.value;
            $.ajax({
                url: operationalParameters.managementServerName + 'managequotes',
                type: 'GET',
                data: 'filter=' + filter,
                success: function (results) { ListQuoteTableExpandTable(results) },
                error: function (XMLHttpRequest, textStatus, errorThrown) { toastr.error("Error accessing database  " + errorThrown); }
            });

        }

        function ListQuoteTableExpandTable(queryResults) {
            $('#QuoteListTable tbody').remove(); 

            if (queryResults.length === 0) {
                toastr.clear();
                $('#QuoteListTable').append('<tbody></tbody>')
                toastr.warning('No data returned from search', AdminTitle);
                
                return;
            }

            var newTableBody = '<tbody>';
            for (var idx in queryResults) {
                var row = '<tr><td>' + idx + ' </td>'
                        + '<td>' + queryResults[idx].Author + '</td>'
                        + '<td>' + queryResults[idx].ModeratorApproved + '</td>'
                        + '<td>' + queryResults[idx].VoteUp + '</td>'
                        + '<td>' + queryResults[idx].VoteDown + '</td>'
                        + '<td>' + queryResults[idx].Quote + '</td>'
                        + '/tr>'
                ;
                newTableBody = newTableBody + row;
            }
            newTableBody = newTableBody + '<tbody>';
            $('#QuoteListTable').append(newTableBody);
            toastr.clear();
        }




        function RebuildDatabase() {
            toastr.info('Database rebuild request is being sent');
            $.ajax({
                url: operationalParameters.managementServerName + 'managequotes',
                type: 'PUT',
                data: '',
                success: function (results) { toastr.success("Database has been rebuilt."); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { toastr.error("Error rebuilding database  " + errorThrown); }
            });
        }
        function VerifyAndDeleteDatabase() {
            var SaveOptions = toastr.options;
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-near-top-full",
                // "positionClass": "toast-bottom-full-width",
                "showDuration": "200",
                "hideDuration": "500",
                "timeOut": "55000",
                "extendedTimeOut": "11000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "containerId": "QuoteOptionContainer"
            }
            var popuprequest = '<div>\
                <p><b>Are you sure you wish to delete the quote database?</b></p>\
            </div>\
            <div>\
                <button type="button" id="okDeleteDBData" class="btn btn-danger minbtn" onclick="doDeleteDB()" >Delete Database Data</button>\
                <button type="button" id="CancelDBRequest" class="btn btn-primary minbtn" style="margin: 0 8px 0 8px">Cancel this request</button>\
            </div>\
            ';
            toastr.info(popuprequest);
            toastr.options = SaveOptions;
        }




        function doDeleteDB() {
            //var putter = $.getJSON(operationalParameters.managementServerName + 'managequotes', { type: "" });
            //putter.done(function (theQuote) {
            //    toastr.success("Request has been sent, this might take a minute");
            //});
            //putter.fail(function (msg) {
            //    toastr.error("Request send failure, try again later" + msg);
            //});
            $.ajax({
                url: operationalParameters.managementServerName + 'managequotes',
                type: 'DELETE',
                data: '',
                success: function () { toastr.success("Request has been sent, this might take a minute"); },
                error: function () { toastr.error("Request send failure, try again later" + msg); }
            });
        }


        function doBasicGet() {
            var getter = $.getJSON('http://localhost:10017/api/' + 'managequotes', { type: "GET" });
            getter.done(function (theQuote) {
                alert('Step 1: worked');
            });
        }

        function changeTheme(theNewTheme) {
            theNewTheme = theNewTheme.toLowerCase();
            $('link').each(function (index) {
                if (this.title !== '') {
                    if (this.title.toLowerCase() === theNewTheme) {
                        this.disabled = false;
                    } else {
                        this.disabled = true;
                    }
                }
            });


            //var i, link_tag;
            //for (i = 0, link_tag = document.getElementsByTagName("link") ;
            //  i < link_tag.length ; i++) {
            //    if ((link_tag[i].rel.indexOf("stylesheet") != -1) &&
            //      link_tag[i].title) {
            //        link_tag[i].disabled = true;
            //        if (link_tag[i].title == css_title) {
            //            link_tag[i].disabled = false;
            //        }
            //    }
            //    set_cookie(style_cookie_name, css_title,
            //      style_cookie_duration);
            //}
        }



    </script>


</body>
</html>

