@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h1>Demonstration of WebAPI and Responsive Web </h1>
</header>

<nav class="row">
    <ul class="nav">
        <li><a href="~/apps/Quote">Quote using JQuery</a></li>
        <li><a href="~/apps/QuoteA">Quote using AngularJS</a></li>
        <li><a href="~/apps/GeolocationFromMethod1">Map using your browser's location, method1</a></li>
        <li><a href="~/apps/GeolocationFromGoogle">Map using your browser's location, Google's demo</a></li>
        <li><a href="~/apps/MovieReviewDemo">Full Responsive Web Demonstration</a></li>

    </ul>
</nav>

