@{
    ViewBag.Title = "MovieReviewDemo";
    Layout = null; 
}

<head>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <title>Movie Reviews </title>
    <meta name="viewport" content="width=device-width"
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="~/Content/reviews.css" rel="stylesheet" />
</head>
<body>


    <div class="container">
        <header>
            <hgroup>
                <h1>Video Reviews </h1>
                <h2>The best darn video review site on this machine</h2>
            </hgroup>
        </header>
        


        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="#">Find Us</a></li>
                <li><a href="#">Other Junk</a></li>
            </ul>
        </nav>

        <section class="clearfix">


            <article>
                <header>
                    <h1>Lost in Translation</h1>
                    <h2>Scarlett Johansson </h2>
                </header>
                <div>
                    <div class="pic">
                    <img src="http://ia.media-imdb.com/images/M/MV5BMTE5MTgwMTM4OF5BMl5BanBnXkFtZTYwMTg2NTE3._V1_SX640_SY720_.jpg" alt="cats" width="160"/>
                        
                     <!--height="42" width="42"-->
                    
                    <img src="http://www.takegreatpictures.com/app/webroot/content/2010_images/2006/09/21/lost3b.jpg" alt="cats"  width="160" />
                        </div>
                    
                    <!--<img src="http://placekitten.com/g/250/200" alt="cats" />-->

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                    </p>                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce 
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
                    </p>

                </div>
                
            </article>



            <article>
                <header>
                    
                    <h1>Lucy</h1>
                    <h2>Scarlett Johansson </h2>
                </header>
                <div>
                   
                    <!--<img src="http://content8.flixster.com/rtmovie/11/97/119738_tmb.jpg" alt="cats" />-->
                    <div class="pic">
                    <img src="http://s3.amazonaws.com/images.hitfix.com/assets/5186/LUCY-SCARLETT.jpg" alt="cats"  height="200" width="242"/>
                    <img src="http://d1h1icg9nkzvny.cloudfront.net/wp-content/uploads/2014/04/Screen-Shot-2014-04-02-at-11.47.29-AM.png" alt="cats" />
                        </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id, sagittis eget nulla sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod, orci enim vestibulum orci, nec suscipit urna odio.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce 
                    </p>
                    

                </div>
                
            </article>


            <article>
                <header>
                    <h1>The Avengers</h1>
                    <h2>Scarlett Johansson </h2>
                </header>
                <div>
                    
                    <div class="pic">
                    <img src="http://pixel.nymag.com/imgs/daily/vulture/2012/05/07/07_theavengers.o.jpg/a_560x375.jpg" alt="cats" />
                        </div>
                    <div class="pic">
                    <img src="http://content9.flixster.com/rtmovie/89/09/89091_gal.jpg" alt="cats" />
                        </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce 
                    </p>
                    

                </div>
                
            </article>

        </section>

        
    </div>


    <footer>
        <p>
            this page &copy 2014 rwg.  All rights reserved
        </p>
    </footer>

    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>




@Scripts.Render("~/bundles/jquery")

	<script>
	    $(function () {
	        var buildDropDown;
	        var originalList;
	        var theList;

	        (function () {

	            function doIt() {
	                originalList = $('nav').html();
	                if (!theList) {
	                    var linksToMake = [];
	                    $('nav a').toArray().forEach(function (el) {
	                        console.log(el);
	                        linksToMake.push({
	                            text:

	$(el).text(), href: $(el).attr('href')
	                        });
	                    });
	                    console.log(linksToMake);

	                    var ddl = $('<select />', {
	                        id: "links"

	                    });
	                    linksToMake.forEach(function (linky) {
	                        ddl.append($('<option />', {
	                            value: linky.href,
	                            text: linky.text,
	                            "class": 'selectomatic'
	                        }));
	                    });
	                    $(ddl).on('change', '.selectomatic',

function (thingy) {
    console.log(thingy);
});
	                    $('nav').append(ddl);
	                    $('nav ul').css('display', 'none');
	                    theList = true;
	                }
	            }
	            buildDropDown = doIt;
	        })();


	        if (Modernizr.mq('only all')) {
	            doQueries();
	            $(window).resize(function () {
	                doQueries();
	            });
	        }

	        function doQueries() {
                // example of using modernizr for testing conditions 
	            if (Modernizr.mq('screen and (max-width: 490px)')) {
	                console.log("The 490px mq is true!");
	                buildDropDown();
	            }
	            if (Modernizr.mq('NOT screen and  (max-width: 490px)')) {
	                console.log("The 490px mq is NOT true!");
	                if (originalList) {
	                    $('nav ul').css('display', 'block');
	                    $('nav select').css('display', 'none');
	                    theList = null;
	                }
	            }
	        }

	    });
	</script>


</body>
