@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is my fancy demonstration and experimentation web application. 
                Yes, I know that gradients are no longer in vogue, but if you complain, I will start using comic fonts.
            </p>
        </div>
    </section>
}
