@import url(http://fonts.googleapis.com/css?family=Atomic+Age);

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0 1.04166666666667% 6.875em 0; /* TRBL VHVH MPMP 0px 10px 100px 0  => 0 10/960 110px/16px 0*/
	background-color: rgb(240,240,240);
}

.pic {
	width: 23.95833333333333%;  /* 230 / 960 */
	float: left;
	margin: 0 1.04166666666667% .625em 0; /* 0 10px 10px 0; */
}
.container {
	position: relative;
	width: 95%; /* Will be the last mooring we cut. */
	font-size: 100%; /* was 16px*/
	margin: 0 auto;
	color: black;
}

	.container > header {
		width: 100%;
		margin: 0 auto;
		height: 9.375em; /* 150/16 */
		background-color: wheat;
		padding: .625em 1.04166666666667% .625em 1.04166666666667%; /* 10/16 10/960 10/16 10/960*/
		margin-bottom: 0.3125em; /* 5/16 */
		font-family: 'Atomic Age', cursive;
		border-bottom-right-radius: 9px;
		border-bottom-left-radius: 9px;
	}

		.container > header hgroup {
			line-height: .4;
		}

			.container > header hgroup h1 {
				font-size: 2.3125em; /* 53/16 */
				color: red;
				-webkit-text-stroke: 1px black;
				text-stroke: 1px black;
			}

			.container > header hgroup h2 {
				color: teal;
			}

nav {
	left: 0;
	float: left;
	margin: 0 auto;
	width: 18.54166666666667%; /* 178 / 960 */
}

	nav ul {
		list-style: none;
		padding-left: 0px;
	}

		nav ul li {
			margin-top: 0.9375em; /* 15/16*/
			padding: 0.625em 0 0.3125em 0; /* 10/16 0 5/16 0*/
		}

	nav li a {
		text-decoration: none;
	}

		nav li a:hover {
			background-color: yellow;
		}

.clearfix {
	overflow: auto;
}

article {
	position:relative;
	border: 1px solid lightgrey;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: .625em 1.04166666666667% .625em 1.04166666666667%; /* padding: 10px */
	margin-bottom: 1.875em; /* 30/16 */
	background-color: white;
}

section article:first-child {
	margin-top: 1.5625em; /* 25/16*/
}

article p {
	line-height: 1.7;
}





article > header {
	padding-top: 1.125em; /* 18px / 16px*/
	border-bottom: 1px solid lightgrey;
}

article h1, h2 {
	display: inline;
}

article h2 {
	color: rgb(178, 217, 21);
}

footer {
	position: fixed;
	background-color: rgb(0, 148, 255);
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 1.25em; /* 100/16*/
	border-top: 1px solid lightgrey;
}

img {
	max-width: 100%;
	height: auto;
}

@media only screen and (max-width: 1180px) {

	article h1, h2 {
		display: block;
		line-height: .7;
	}
}

@media only screen and (max-width: 970px) {
	

	body {
		padding-bottom: 0;
	}

	footer {
		position: static;
	}
}

@media only screen and (max-width: 728px) {
	
	
	h2 {
		display: none;
	}
	.container header {
		height: 81px;
	}
	
	nav ul li {
		display: inline;
		padding-left: 30px;
	}
	nav {
		float:none;
		width: 100%
	}
}

@media only screen and (max-width: 527px) {

	header {
		height: 5em; /* 81/16 */
		font-size: 1.0em;
		line-height:1;
	}
	header hgroup  {
		font-size: .8em; 
	}
	
	header h1 {
		color: blue;
	}
	
}

@media only screen and (min-width: 1400px) {

	article {
		-moz-columns: 2;
		-webkit-columns: 2;
		columns: 2;
		-moz-column-rule: 1px solid lightgray;
		-webkit-column-rule: 1px solid lightgray;
		column-rule: 1px solid lightgray;
	}
}